# Python junk
__pycache__/
*.py[cod]
.DS_Store

# PyCharm settings
.idea/

# Virtual environments
venv/
env/
*.egg-info/

# Data (ignore everything in data folder)
data/*

AnisotropicAnalysis.py
bin_correlation_data.csv
ClumpingDM.py
Corrfunc_csvFileAnalysis.py
DecayingAndPairInteraction.py
DecayingDM_TiredRad_HzPlot.py
DecayTired_TestHz.py
Desi2DAnimation.py
DESI_BAO_Anisotropic.py
DESI_BAO_BruteForce_Weightings.py
DESI_BAO_Corrfunc.py
DESI_BAO_Isotropic.py
DESI_DataTests.py
DESI_HzPlot_3D.py
DESI_MaybeHz.py
HCalc.py
Hz_TiredRadiation.py
MultiThreadingTest.py
PleaseWork.py
V1_DESI_DataAnalysis.py
V2_Hz_TriedRadiation.py

bins.txt
mu_bins.txt

